{% extends "layout.html" %}

    {% block title %}
        About Me
    {% endblock %}

{% block main %} 
<div>
    <img src="static/hero.jpg" class="img-fluid" alt="Responsive image">
</div>
<br>
<h1 class="center">About Me</h1>
<p>Hi, everyone. My name is Fahad Amjad. I am basically a student of bacherlor's in zoology but always had a curiosity about computers and how technology worked. I wanted to learn programming but could find a way to and the youtube tutorial cycle was just not enough untill I came to know about CS50, I started right away. And here I am programming my final. I cannot believe I am able to do this. I am class representative and always thought of some tool that could minimize the teachers or my problem of manually collecting students attendance and then making spreadsheets which was really time consuming and also maintaning student records plus a few other features. I hope you like what you or found any bugs or have ideas about improvements, hit me via email. Enjoy using CMS.</p>


{% endblock %}