{% extends "layout.html" %}

    {% block title %}
        ADMIN LOGIN
    {% endblock %}

{% block main %} 
    <br>
    <h2 class="center">ADMIN LOG IN</h2>
    <br>
    <form action="/admin" autocomplete="off" method="post">
        <div class="form-group center">
            <input name="username" type="text" placeholder="username" autofocus>
        </div>
        <div class="form-group center">
            <input name="password" type="text" placeholder="password" autofocus>
        </div>
        <div>
            <div class="text-center">
                <button type="submit" name="submit" value="submit" class="btn btn-primary">Log In</button>
            </div>
        </div>
    </form>
    <br>

{% endblock %}