{% extends "layout.html" %}

    {% block title %}
        Homepage
    {% endblock %}

{% block main %} 
    <br>
    <h1 class="center"> Privacy Policy</h1>
    <p>Hi there, Dear visitor. We understand your concern in terms of your data's security and we appreciate your visiting our policy. First things first all the data you provide us is only and only stored for user identification purposes and usage by the respective school, college or any other institute using the program. Your passwords are stored in the form of hashes using SHA256 algorithm and we ask you for your email to send notifications when the noticeboard gets updated or there is something very critical which is also decided by your teachers or institute. We do not sell or give access to your precious data to anyone other than your institute or teachers. if you still have question or want to chat with us feel free to hit our email or social pages.</p>
{% endblock %}